<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mehdi.memo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DisplayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorActivity"
            android:parentActivityName=".DisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".DisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayActivity" />
        </activity>
        <activity
            android:name=".DayTimeActivity"
            android:parentActivityName=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity"/>
        </activity>

        <provider
            android:name=".data.MemoProvider"
            android:authorities="com.mehdi.memo"
            android:exported="false" />

        <service
            android:name=".NotificationService"
            android:exported="false" />

    </application>
</manifest>
